<h1> Packer Item Details</h1>
<h2>@Model.Name</h2>
<ul>
  <li>Purchased?: @Model.Purchased</li>
  <li>Packed?: @Model.Packed</li>
  <li>Price: @Model.Price</li>
  <li>Source: @Model.Source</li>
</ul>
<a href="/items/new">Add another item</a>
<a href="/items">View all items</a>